{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browserslist": "last 2 version, > 5%, ie 10",
					"node": "current",
					"esmodule": true
				},
				"useBuiltIns": "entry",
				"corejs": {
					"version": 3
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": ["@babel/plugin-proposal-class-properties"]
}
