.btn {
	display: block;
	padding: 10px 16px;
	border: none;
	border-radius: 1rem;
	background-color: #fff;
	color: #0d0c22;
	font-family: inherit;
	font-size: 1.4rem;
	line-height: 2rem;
	transition: all 0.3s;
	cursor: pointer;

	&--load {
		margin: 0 auto;
		padding-left: 50px;
		padding-right: 50px;
		background-color: #f3f3f4;

		&:hover {
			background-color: #e7e7e9;
		}
	}
}
